.TimeLineCard{
    transition: all;
    transition-duration:400ms;
}
.TimeLineCard:hover{
    box-shadow: 0px 5px 5px 1px rgb(73, 96, 149);
    transform:rotate3d(1,0,0,10deg) skewX(4deg) translateX(1px);
    border-bottom: 1px solid blue;
}
.TimeLineCard:hover .title{
    color: rgb(58, 53, 152);
}
.TimeLineCard:hover .details{
    color: rgb(2, 34, 93);
}